<div class="stats">
  <a>
    <%= link_to @user do %>
      <strong id="plan" class="stat">投稿<%= @user.microposts.count %>件</strong>
    <%end%>
  </a>
  <a href="#">
    <strong id="following" class="stat">フォロワー0人</strong>
  </a>
  <a href="#">
    <strong id="followed" class="stat">0人をフォロー中</strong>
  </a>
</div>
